*body,html
{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    height: 84px;
}
.backgroundcolor{
    background-color: #f5f5f5;
}
.imageContainer{
    position: relative;
}
.imageCaption{
    position: absolute;
    top: 60%;
}
.img{
    color: white;
}
.color{
    color:white;
}